@media screen and (max-width: 1430px) {
    .menu li {
        margin: 0 20px;
    }
    .txt {
        top: 25%;
        left: 22%;
    }
    .sar {
        font-size: 70px;
    }
    .creat {
        font-size: 50px;
        margin: 25px;
    }
    .other-txt {
        font-size: 30px;
    }
    .feat-blocks {
        text-align: center;
    }
    .feat-blocks div {
        width: 25%;
    }
}

@media screen and (max-width:1200px) {
    .txt {
        top: 25%;
        left: 25%;
    }
    .sar {
        font-size: 60px;
    }
    .creat {
        font-size: 40px;
    }
    .other-txt {
        margin-bottom: 100px;
    }
    .block-head i {
        margin-bottom: 10px;
    }
    .form {
        width: 45%
    }
    .map i {
        font-size: 40px;
        left: 380px;
    }
    .subscribe div {
        width: 250px;
    }
}