@media screen and (max-width:1024px) {
    .sar {
        font-size: 50px;
    }
    .creat {
        font-size: 35px;
    }
    .other-txt {
        margin-bottom: 70px;
    }
    .feat-blocks div {
        width: 25%;
        font-size: 15px;
    }
    .text {
        max-width: 95%;
    }
    .left,
    .right {
        width: 300px;
    }
    .adres {
        margin-top: -25px;
    }
    .form {
        width: 40%;
    }
    .email {
        display: block;
        margin: 0;
    }
    .foot-one p {
        width: 220px;
    }
    .foot-one {
        margin-left: 20px;
    }
}