@media screen and (max-width:768px) {
    .menu li {
        font-size: 14px;
        margin: 0;
    }
    .txt {
        top: 30%;
        left: 25%;
    }
    .feat-blocks div {
        width: 30%;
        font-size: smaller
    }
}

@media screen and (max-width:670px) {
    .txt {
        top: 20%;
        left: 18%;
    }
    .other-txt {
        margin-bottom: 30px;
    }
    .adres span {
        font-size: 23px;
    }
    .adres {
        margin-top: -35px;
    }
    footer {
        display: inline-block;
        text-align: center;
    }
    .foot-one,
    .subscribe,
    .explore {
        display: inline-table;
        margin-left: 20px;
    }
    .explore {
        width: 45%;
        margin-bottom: 20px;
    }
    .foot-one {
        padding-left: 0;
    }
}

@media screen and (max-width:580px) {
    .txt {
        top: 23%;
        left: 18%;
    }
    .sar {
        font-size: 35px;
    }
    .creat {
        font-size: 25px;
        margin: 15px;
    }
    .other-txt {
        font-size: 18px;
    }
    .center {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .txt {
        left: 15%;
    }
    .sar {
        font-size: 30px;
    }
    .creat {
        font-size: 20px;
        margin: 15px;
    }
    .other-txt {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .block-head {}
}


/*@media screen and (max-width: ) {}*/


/*@media screen and (max-width:) {}*/


/*@media screen and (max-width:) {} */