@media screen and (max-width:768px) {
    .menu li {
        font-size: 14px;
    }
    .hidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
    }
    .txt {
        top: 30%;
        left: 25%;
    }
    .feat-blocks div {
        display: table;
        padding: 0 20px 30px;
        width: 100%;
        font-size: smaller;
    }
    .develop {
        margin: 0;
    }
}

@media screen and (max-width:670px) {
    .txt {
        top: 25%;
        left: 18%;
    }
    .other-txt {
        margin-bottom: 30px;
    }
    .adres span {
        font-size: 23px;
    }
    footer {
        display: inline-block;
        text-align: center;
    }
    .foot-one,
    .subscribe,
    .explore {
        display: inline-table;
        margin-left: 20px;
    }
    .explore {
        margin-bottom: 20px;
    }
    .foot-one {
        padding-left: 0;
    }
}

@media screen and (max-width:580px) {
    .txt {
        top: 30%;
        left: 18%;
    }
    .sar {
        font-size: 35px;
    }
    .creat {
        font-size: 25px;
        margin: 15px;
    }
    .other-txt {
        font-size: 18px;
    }
    .center {
        display: none;
    }
    .city img {
        height: 490px;
    }
    .facts {
        margin-top: 0;
    }
    .inline {
        display: inline;
    }
    .icon i {
        font-size: 25px;
    }
    .num {
        font-size: 30px;
    }
    .facts .fact-two .icon {
        margin-bottom: 2px;
    }
    .facts .fact-four .icon {
        margin-bottom: 2px;
    }
    .discuss article {
        display: table;
    }
    .adres {
        width: 90%;
    }
    .form {
        margin-left: 25px;
        width: 90%;
    }
    .discuss-soc {
        display: flex;
        margin: 0 0 0 15px;
    }
}

@media screen and (max-width: 500px) {
    .txt {
        top: 30%;
        left: 15%;
    }
    footer {
        display: table;
    }
    .foot-one {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 20px;
    }
    .subscribe {
        margin-top: 20px;
    }
    .explore {
        margin-top: 20px;
    }
}

@media screen and (max-width: 475px) {
    .menu li {
        margin-bottom: 15px;
    }
    .menu ul {
        margin-top: 0;
    }
    .txt {
        top: 75%;
        left: 30%;
    }
    .sar,
    .creat,
    .other-txt {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .work {
        text-align: left;
    }
    #work-nav ul {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width:292px) {
    .txt {
        top: 75%;
        left: 15%;
    }
    .block-head h1 {
        font-size: 33px;
    }
}