@media screen and (max-width:980px) {
    .menu > li > a {
        padding: 15px 8px;
    }
    .logo {
        margin-left: 20px;
    }
    .feat-blocks div {
        width: 30%;
    }
    .subscribe div {
        width: 180px;
    }
    .subscribe p {
        width: 250px;
    }
    .explore ul {
        margin-right: 20px;
    }
}

@media screen and (max-width: 930px) {
    .other-txt {
        margin-bottom: 50px;
    }
    .adres {
        margin-left: 0;
    }
    .foot-one p,
    .subscribe p {
        font-size: 14px;
    }
    .explore ul {
        font-size: 14px;
    }
}

@media screen and (max-width: 895px) {
    /*
    .logo {
    margin-left: 50px;
}
*/
    .sar {
        font-size: 40px;
    }
    .creat {
        font-size: 30px;
    }
    .other-txt {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .columns article {
        max-width: 95%;
    }
    .center {
        margin: 200px 20px;
    }
}

@media screen and (max-width:845px) {
    .menu {
        margin-right: 10px;
    }
    .left,
    .right {
        font-size: smaller;
    }
    .center {
        margin: 50px 20px;
    }
    .columns article {
        max-width: 95%;
    }
    .adres {
        margin-left: 25px;
    }
    .discuss-soc {
        margin-right: 30px;
    }
}

@media screen and (max-width: 810px) {
    footer {
        display: table;
    }
    .foot-one,
    .subscribe,
    .explore {
        text-align: left;
        display: table-cell;
        width: 30%;
    }
    .foot-one {
        padding: 30px;
    }
}