@media screen and (max-width: 850px) {
    .sar {
        font-size: 40px;
    }
    .creat {
        font-size: 30px;
    }
    .other-txt {
        font-size: 20px;
    }
}


/*@media screen and (max-width:) {}*/


/*@media screen and (max-width:) {}*/